@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Luckiest+Guy&display=swap');


:root {
    --main-color: #2513c7;
    --black: #3c91ff;
    --bg: #000d83;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {

    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: scroll;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding-bottom: 3rem;
    font-size: 4rem;
}

.heading span {
    color: #fff;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 2rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #0B52FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    transition: 0.5s ease;
    height: 7rem;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 3.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

.home {
    position: relative;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}

.home .content {
    z-index: 800;
    color: #fff;
    margin-top: 50px;
}

.home .content h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content.active {
    display: block;
}

.home .content p {
    margin-bottom: 4.5rem;
    font-size: 2rem;
}

.home .content a {
    background: #fff;
    padding: 13px 15px;
    color: #1680AC;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10rem;
}

.home .text {
    max-width: 60rem;
    background-position: center;
}

.home .text h1 span {
    position: relative;
    font-size: 16rem;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 1 2px 0 #ccc, 0 3px 0 #ccc,
        0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent,
        0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
    font-family: "Lobster", cursive;
    animation: bounce 0.8s infinite alternate;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
            0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
            0 50px 25px rgba(0, 0, 0, 0.2);
    }
}

.home .text h1 span:nth-child(1) {
    animation-delay: 0.1s;
}

.home .text h1 span:nth-child(2) {
    animation-delay: 0.2s;
}

.home .text h1 span:nth-child(3) {
    animation-delay: 0.3s;
}

.home .text h1 span:nth-child(4) {
    animation-delay: 0.4s;
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3, 96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 55%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about .row .content p {
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenta img {
    width: 45%;
    border-radius: 80px;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 20rem;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.menu .box-container .box h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 1rem 0;
}

.linea-division {
    align-items: center;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.menu .box-container .box h2 {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: "Dancing Script", cursive;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background: #fff;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: rgb(252, 14, 14);
    margin: .3rem;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
}

.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars {
    padding: 1.5rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price {
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 1rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
}

.review .box-container .box .user img {
    transition: all 500ms ease;
}

.review .box-container .box .user:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}


/* FORMULARIO =================================== */

.form_wrap {
    width: 95%;
    height: 95%;
    margin: 4rem auto;
    display: flex;
    background: #fff;
    border-radius: 5rem;
    overflow: scroll;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.info_title img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.cantact_info::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info {
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: wrap
}

.info_title,
.info_items {
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title {
    margin-bottom: 60px;
}

.info_title span {
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2 {
    font-size: 35px;
    text-align: center;
}

.info_items p {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: -3rem;
}

.info_items p:nth-child(1) span {
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span {
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}

/* Formulario de contacto*/


@media screen and (max-width: 70rem) {
    .form_wrap {
        flex-direction: column;
        align-items: center;
    }
}

form.form_contact {
    padding-top: 8rem;
    padding-right: 8rem;
    padding-bottom: 8rem;
    padding-left: 8rem;
    float: left;
    box-sizing: border-box;
    flex-wrap: wrap
}

form.form_contact h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #303030;
    margin-bottom: 2rem;
}

form.form_contact .user_info {
    display: flex;
    flex-direction: column;
}

form.form_contact label {
    font-weight: 500;
}

form.form_contact input,
form.form_contact textarea {
    width: 100%;
    padding: 0vh 0vh 1vh;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 0.2rem solid #D1D1D1;
    font-family: 'Open sans';
    color: #5A5A5A;
    font-size: 2rem;
    font-weight: 400;
}

form.form_contact textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 11rem;
}

form.form_contact input[type="button"] {
    width: 180px;
    background: rgb(13 90 177);
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;
    color: #fff;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form_contact input[type="button"]:hover {
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3 {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 400;
}

.mensaje_modal h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #C5C5C5;
    margin: 10px 0px 15px;
}

.mensaje_modal p {
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before {
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose {
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;
    background: #E25151;
    color: #fff;
    border: 2px solid #B14141;
    cursor: pointer;
    float: none;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 7px 0;
}

.sabor {
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: "Dancing Script", cursive;
    margin-top: 0;
}

/* ---------------------- */
/* Estilos de Materialize */
/* ---------------------- */

.carousel {
    min-height: 500px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 2;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.linea-division-2 {
    width: 80%;
    height: 5px;
    background-color: #ffffff;
}

.carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #1100a7;
}

.active .flip-card {
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
}

.flip-card {
    width: 500px;
    height: 500px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-inner>* {
    width: 100%;
    height: 100%;
    text-align: center;
}

.active .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flip-card-front {
    color: black;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
    padding: 15px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.flip-card-back h3 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2.5rem;
    height: 5px;
}

.flip-card-back p1 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 6rem;
}

.flip-card-back p2 {
    font-size: 25px;
    font-family: "Bebas Neue";
    letter-spacing: 3px;
    color: #3d20df;
}

.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .4rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
    background: #2c2cff;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}












/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h1 {
        font-size: 4.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}


/*loader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(1, 27, 99);
    z-index: 1000;
}

#loader {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    background: url(../images/loader.gif)no-repeat center 0;
}